#bg-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

@media (max-width: 767px) {
    #bg-video {
        display: none;
    }
}

.createAccount{
    color: white;
    padding-left: 20px;
    padding-top: 9px;
}

.flash-msg {
    color: white;
    margin-left: 25px;
    margin-top: 100px;
}


