.container-fluid, body {
    color: #7a5e48;
    background: no-repeat center/cover url('/static/img:/box.jpg');
    background-attachment: fixed;
}

h1 {
    margin-right: -250px;
    color:#F98741
}

h3 {
    font-weight:200;
    color: #7a5e48;
}

h6 {
    max-width: 57vw;
    font-weight:30;
}

.recipe-favorite-results .recipe-source {
    display: inline;
    left: 0;
}

.recipe-favorite-results a {
    display: inline;
    margin-left: 5px; 
}

.recipeBox nav {
    position: fixed;
    top: 0;
    left: 0;
}

.nav-transparent {
    background: transparent;
    font-size: 1.2em;
    z-index: 100;
}

.nav-transparent .nav-link,
.nav-transparent .navbar-brand,
.nav-transparent p {
color: #DBB044;
}

.nav-transparent .navbar-brand:hover,
.nav-transparent .nav-link:hover {
color: #F98741;
}

.recipeBox > section.container-fluid,
.recipeBox > section.container {
width: 100vw;
height: 100vh;
padding-top: 56px;
}

#my-recipe-box {
    padding-left: 250px;
    padding-top: 25px;;
}

#boxUrl {
    color:#F98741
}

#boxUrl:hover {
    color: #DBB044;
}

.button-33 {
    background-color: #f5d5c8;
    border-radius: 100px;
    box-shadow: rgba(255, 140, 0, .2) 0 -25px 18px -14px inset,rgba(255, 140, 0, .15) 0 1px 2px,rgba(255, 140, 0, .15) 0 2px 4px,rgba(255, 140, 0, .15) 0 4px 8px,rgba(255, 140, 0, .15) 0 8px 16px,rgba(255, 140, 0, .15) 0 16px 32px;
    color: #7a5e48;;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 12px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-33:hover {
    box-shadow: rgba(255, 140, 0, .2) 0 -25px 18px -14px inset,rgba(255, 140, 0, .15) 0 1px 2px,rgba(255, 140, 0, .15) 0 2px 4px,rgba(255, 140, 0, .15) 0 4px 8px,rgba(255, 140, 0, .15) 0 8px 16px,rgba(255, 140, 0, .15) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}



