
.container-fluid {
    width: 100vw;
    height: 100vh;
    padding-top: 70px;
    color: rgba(186, 95, 169, 0.606) 
}

.container {
    margin-left: 0px; 
    margin-top: 15em;
    /* border-top: solid 1px #ccc; */
    padding-top: 0.2em;
}

.btn-default {
    margin-left: 20px;  
    color:rgba(209, 93, 218, 0.835);
    font-size: large;
}

.btn-default:hover {
    color: rgb(18, 168, 232);
}

#facts-text {
    margin: 1em;
    margin-top: 0px;
    color: rgba(91, 79, 74, 0.932);
    max-width: 20vw;
}

.container-fluid {
    background: no-repeat center/cover url('/static/img:/userHomepage.jpg');
} 

h1 {
    margin-left: 15px;
    margin-top: -20px;
    color: rgb(18, 168, 232)
}

h2 {
    margin-left: 5px;
    margin-top: -100px;
    color: rgb(18, 168, 232)
}

#get-fact-button {
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.flash-msg {
    color: rgb(214, 215, 127);
    text-align: left;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 25px;
    position: absolute;
    top: 0;
    left: 0;
}