{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block body %}
<div class="container-fluid">
    <link href="/static/css:/login.css" rel="stylesheet">

    <video autoplay loop muted id="video">
        <source src="/static/img:/sprinkle.mp4" type="video/mp4">
    </video>

    <h1>Log In</h1>

    <ul>
        {% for message in get_flashed_messages() %}
            <li class="flash">{{ message }}</li>
        {% endfor %}
    </ul>
    
    <form action="/login" method="POST">
        <p style="text-align: center;">
            <label>Email</label>
            <input type="text" name="email" style="margin-left: 2em;">
        </p>
        <p style="text-align: center;">
            <label>Password</label>
            <input type="password" name="password">
        </p>
        <div style="text-align:center">
            <button class="submit-button" role="button"><span class="text">Submit</span><span>Let's Bake</span></button>
            
        </div>
    </form>
    <br>
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">
            <a href="/" class="lead backlink">
            <button class="returnHomepage" role="button">Return to Homepage</button>
            </a>
            </div>
    </div>  
</div> 
{% endblock %}