{% extends 'base.html' %}
{% block title %}Cake Bake {% endblock %}

{% block body %}
    <h1>Log in here</h1>

    <ul>
        {% for message in get_flashed_messages() %}
            <li class="flash">{{ message }}</li>
        {% endfor %}
    </ul>
    
    <form action="/login" method="POST">
        <p>
            Email <input type="text" name="email">
        </p>
        <p>
            Password <input type="password" name="password">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>
{% endblock %}