{% extends 'base.html' %}

{% block title %}Baker Profile Page{% endblock %}

{% block body %}

    <h1>Profile Page</h1>
    <h2>Update your information below:</h2>

    {% for user in users %}

    <div class="update-profile">
        <h2> {{ user.fname }} </h2> 
        <h2> {{ user.lname }} </h2> 
        <h2> {{ user.email}} </h2>
        <h2> {{ user.password }} </h2>
    </div>

    {% endfor %}


    <br>

    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">
            <a href="/form" class="lead backlink">
                Click here to search for a cake recipe
            </a>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">
            <a href="/user_homepage" class="lead backlink">
                Click here to return to your Homepage
            </a>
            </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">
            <a href="/logout" class="lead backlink">
                Click here to logout
            </a>
            </div>
    </div>

{% endblock %}