{% extends 'base.html' %}
{% block title %}Recipe Box{% endblock %}

{% block body %}

<div>
	<h1>RECIPE BOX</h1>
    <h2>Saved recipes below:</h2>
	<div id="my-recipe-box">

    {% for recipe in recipes %}

    <div class="recipe-favorite-results">
        <h2> {{ recipe.favorite_name }} </h2> 
        <img src="{{ recipe.favorite_img }}"/>
        <h4> {{ recipe.favorite_ingredients }} </h4>
        <h3> {{ recipe.favorite_source }} </h3> 
        <a href="{{ recipe.recipe_link }}" target="_blank">Click here for full recipe!</a>
        <br>
        <br>
        <br>
        <form action="/save_review" method="POST">
            <label for="review">Leave a review or notes:</label><br>
            <textarea id="review" name="review" rows="4" cols="50"></textarea><br>
            <input type="submit" value="Save" class="btn btn-primary">
        </form>
    </div>
    {% endfor %}
    
    </div>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center">
        <a href="/form" class="lead backlink">
            Click here to search for a cake recipe
        </a>
</div>

<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center">
        <a href="/user_homepage" class="lead backlink">
            Click here to return to your Homepage
        </a>
</div>

<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center">
        <a href="/logout" class="lead backlink">
            Click here to logout
        </a>
</div>

{% endblock %}