{% extends 'base.html' %}
{% block title %}Recipe Box{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
    <div class="col">
        <h1>Recipe Box</h1>


        <h2>Search your saved cake recipes by entering a main ingredient below:</h2>

        <form method="GET" action="/reviews">
        <div class="row">
            <label class="form-label above" for="search-keyword">Main ingredient or Cake name</label> 
            <small class="form-text text-muted">
            </small>

            <input
            id="search-keyword"
            class="form-control"
            type="text"
            name="keyword"
            > 
        </div>
        <br>
        </div>
        <div class="row mt-4">
            <div class="col-3">
            <input type="submit" value="Search recipes" class="btn btn-primary">
            </div>
        </div>
        </form>
    </div>
    </div>
</div>
{% endblock %}