{% extends 'base.html' %}
{% block title %}Recipe Box{% endblock %}

{% block body %}
<link href="/static/css:/recipe_box.css" rel="stylesheet">
<div class="container-fluid">
    <div class="recipeBox"></div> 
    <nav class="navbar navbar-expand-md nav-transparent w-100">
        <div class="container-fluid">
            <a class="navbar-brand" href="/user_homepage">Baker Homepage</a>
            <div id="navbar" class="navbar-collapse collapse navbar-expand-lg">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/form">New Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>

	<div id="my-recipe-box">
    <h1>Recipe Box</h1>   
    <br>
    {% for recipe in recipes %}
    <div class="recipe-favorite-results">
        <h3> {{ recipe.favorite_name }} </h3> 
        <img src="{{ recipe.favorite_img }}"/>
        <br>
        <br>
        <span class="recipe-source"> {{ recipe.favorite_source }} :</span> 
        <a id="boxUrl" href="{{ recipe.recipe_link }}" target="_blank">Click here for full recipe!</a>
        <br>
        <br>
        <ul>
            {% for ingredient in recipe.favorite_ingredients.split(',') %}
                <li>{{ ingredient }}</li>
            {% endfor %}
            </ul>
        <br>
            <label for="reviews" style="color: #F98741">Leave a review or notes:</label><br>
            {% if recipe.review %}
            <textarea id="{{ recipe.recipe_link }}" name="reviews" rows="4" cols="50" style="background-color: #FBF2D7"; border: 2px #7a5e48; >{{ recipe.review }}</textarea><br>
            {% else %}
            <textarea id="{{ recipe.recipe_link }}" name="reviews" rows="4" cols="50" style="background-color: #FBF2D7"; border: 2px #7a5e48; ></textarea><br>
            {% endif %}
            <button class="button-33" onclick="saveReview('{{recipe.recipe_link}}')">Save</button>
            <button class="button-33" onclick="removeFromFavorite('{{recipe.recipe_link}}')">Remove recipe</button>
    </div>
    <br>
    <br>
    <br>
    {% endfor %}

</div>
<!-- <section
    class="demo-1 container-fluid d-flex justify-content-center align-items-center"
>
<div class="row">
    <div class="column">
        <p class="display-4 mx-5 text-light">
        </p>
    </div>
</div>
</section> -->

<script src="../static/js/save_review.js"></script>
<script src="/static/js/saved-recipe.js"></script>
{% endblock %}