{% extends 'base.html' %}

{% block title %}Search Form{% endblock %}

{% block body %}
<link href="/static/css:/search_form.css" rel="stylesheet">
<video autoplay loop muted id="video">
    <source src="/static/img:/searchForm.mp4" type="video/mp4">
</video>
<div class="container-right">
    <div class="row">
        <div class="col">
            <h1>Cake Search</h1>
            <h3>Bake your next cake based on an ingredient or base flavor!</h3>
            <br>
            <form method="GET" action="/recipes/search">
                <div class="row">
                    <label class="form-label above" for="search-keyword" style="color: rgb(226, 192, 79)">Enter main ingredient:</label>
                    <small class="form-text text-muted" style="color: rgb(226, 192, 79)"></small>
                    <input id="search-keyword" class="form-control" type="text" name="keyword">
                </div>
                <br>
                <div class="row">
                    <label class="form-label above" for="excluded_search_keyword" style="color: rgb(226, 192, 79);">Optionally, enter ingredient to exclude:</label>
                    <small class="form-text text-muted" style="color: rgb(226, 192, 79);"></small>
                    <input id="excluded_search_keyword" class="form-control" type="text" name="excluded-food">
                </div>
                <div class="row">
                    <div class="col">
                        <input type="submit" class="button-81" role="button">
                        <a href="/user_homepage" id="homeButton" class="button-81" role="button">Baker Homepage</a>
                        <a href="/logout" id="logOutButton" class="button-81" role="button">Logout</a>
                    </div>
                </div>
            </form>
</div>
{% endblock %}