{% extends 'base.html' %}
{% block title %}Baker Homepage{% endblock %}

{% block body %}
<link href="/static/css:/user_homepage.css" rel="stylesheet">
<div class="container-fluid">
        <h1> Baker Homepage </h1>

        <a class="btn btn-default" href="/form">
        Search recipes </a>

        <br>

        <a class="btn btn-default" href="/box">
        Recipe Box </a>

        <br>

        <a class="btn btn-default" href="/logout">
                Logout </a>

        <div class="container">
        <h2>Cake Trivia</h2>
        <button onclick="displayFact()" id="get-fact-button" class="btn btn-default mt-0">
                Get a fact
        </button>
        <div class="container", id="facts-text"></div>
        </div>
</div>

<script src="../static/js/random.js"></script>
<script src="../static/js/user_homepage.js"></script>

{% endblock %}