{% extends 'base.html' %}
{% block title %}Cake Bake {% endblock %}

{% block body %}
    
    <h2>Welcome to your Baker page! </h2>
    
    
    <form action="/search_for_recipe" method="POST">
        <a class="btn btn-default" href="/form">
            Click here to search for a recipe
    </form>
    <br>
    <form action="/go_to_recipebox" method="POST">
        <a class="btn btn-default" href="/box">
            Click here to view your Recipe Box
    </form>
    <br>
    <form action="/logout" method="POST">
        <a class="btn btn-default" href="/logout">
            Click here to logout
    </form>

{% endblock %}