{% extends 'base.html' %}
{% block title %}Cake Bake {% endblock %}

{% block body %}
    
    <h2>Welcome to your Baker page! </h2>
    

    <h2>  Recipe Search  </h2>
    <form action="/get_recipe_by_name" method="POST">
        <a class="btn btn-primary" href="/form">
            Click here to search for a recipe
    

    <h2>  Review a cake  </h2>
    <p>Let everyone know how your cake turned out!</p>


    <h2> Recipe Box </h2>
    <p>View your saved recipes here! </p>
    

{% endblock %}